mixin modal()
	//complain modal
	+b.complain-modal.default-modal(id="manager-complain" style="display: none")
		+form-wrap
			+e.title Пожаловаться на менеджера
			+e.content
				+e.small Друзья, мы внимательно следим за качеством работы наших менеджеров. Если вам долго отвечают или некорректны в общении, пожалуйста, напишите на этот адрес:
				+e.btn-light(href="mailto:hello@markluigi.com") hello@markluigi.com
				+e.small
					| К сообщению приложите ваш пинкод
					|
					span.text-warning 746421_9077
					|
					| и скриншоты переписки с менеджером. Если факт некорректного общения или игнорирования будет подтвержден, менеджер понесет наказание, а Вы получите компенсацию
				+e.gray-bl На почту отвечает супервайзер. Его задача – контролировать менеджеров. Увы, он не обладает информацией о работе сервиса или ответом на какие-либо технические вопросы.
	//vip-modal
	+b.vip-modal(id="vip-modal" style="display: none")
		+form-wrap
			+e.title
				h2 Популярность без забот
				p Каждый новый пост или история в вашем instagram, автоматически попадет на биржу и начнет собирать подписки, лайки и просмотры.
			+e.content
				+e.row.row
					+e.col.col-12
						+e.white-bl
							| Друзья, в связи с изменениями лайкинга в инстаграм есть сложности с дохождением лайков. Сториесы и просмотры видео
							|
							b работают хорошо.
							|
							| Пожалуйста, держите связь с вашим персональным менеджером, чтобы быть в курсе ситуации.
					+e.col.col-12.col-md-6
						+e.item
							+e.col-title 1. Какой пакет Вы хотите?
							+e.radio-column
								+radioColumnItem('100', '300')(checked)
								+radioColumnItem('200', '600')
								+radioColumnItem('500', '1 500')
								+radioColumnItem('1 000', '3 000')
								+radioColumnItem('2 000', '6 000')
								+radioColumnItem('5 000', '15 000')
								+radioColumnItem('10 000', '30 000')
								+radioColumnItem('15 000', '45 000')
								+radioColumnItem('25 000', '75 000')
					+e.col.col-12.col-md-6
						+e.item
							+e.col-title 2. На сколько активировать VIP?
							+e.radio-inline
								+inlineRadioItem(15)(checked)
								+inlineRadioItem(30)
								+inlineRadioItem(45)
							+e.present-block
								+e.present-txt
									span +
									|
									span.subsc-present 100
									|
									+icon('user')
									|
									| подписчиков
									br
									| бонус в подарок!
							+e.LABEL.auto-continue
								input(type="checkbox" name="auto-continue")
								span.checkbox-circle
								span.auto-txt
									+tooltip('Если опция активирована, за 3 дня до ее окончания система автоматически продлит VIP на 1 месяц. А с вашей карты будет списана месячная стоимость услуги.')
									span Продлевать VIP автоматически
							+e.activate-bl
								+e.price
									span 177 690
									span.rub-symb ₽
								+e.BUTTON.act-btn(type='submit') Активировать
							+e.gray-bl
								p Сразу после оплаты сервис начнет следить за вашим instagram.
								p Как только вы разместите новую публикацию, люди автоматически начнут подписываться, ставить лайки и увеличивать просмотры.
	//add-insta modal
	+b.add-insta-modal.default-modal(id="add-insta" style="display: none")
		+form-wrap
			+e.img
				img(loading="lazy" src="img/@2x/insta-img.png" alt="")
			+e.H2.title Добавить аккаунт
			+input('Ваш Instagram', 'text')
				+icon('instagram')
			+e.small Для вас будут доступны все функции сервиса, кроме бесплатных сердечек. Их необходимо покупать.
			+e.BUTTON.btn(type="submit") Добавить
	//modal-check
	+b.modal-check.yellow-top(id="modal-check" style="display: none")
		+form-wrap
			+e.title
				h2
					| Закажите 50 лайков и
					br.d-none.d-sm-block
					| 150 просмотров на 27 последних публикаций по суперцене!
			+e.content
				+e.gray-bl
					p Через несколько минут после оплаты, мы разместим ваши последние 27 публикаций на биржу.
					p
						| Менее чем за сутки, живые люди поставят более
						|
						b 50 лайков
						|
						| и
						b 150 просмотров
						|
						| на каждую вашу публикацию.
				+e.foot
					+e.more-btn(href="#")
						span Хочу больше
						+icon('heart')
					+e.pay-btn(href="#")
						span Оплатить
						|
						span 99
						span.rub-symb ₽
	+b.pay-modal.default-modal(id="pay-modal" style="display: none")
		+form-wrap
			+e.title
				h2 Оплата
				p
					| Выберите удобный способ оплаты
					|
					span 99 рублей,
					|
					| услуга будет доступна сразу после оплаты.
			+e.items
				+payItem(1)
				+payItem(2)
				+payItem(3)
				+payItem(4)
				+payItem(5)
				+payItem(6)
			+e.foot
				span Технический код:
				span lf.746421.32196447713.pAll|99
	+b.price-modal.yellow-top(id="price-modal" style="display: none")
		+form-wrap
			+e.title
				h2
					| Разместите
					|
					span 10
					|
					| последних публикаций на биржу по суперцене!
			+e.content
				+e.amunt-radio
					+e.am-txt Последние
					+e.am-items
						+postRadio(10)(checked)
						+postRadio(20)
						+postRadio(30)
						+postRadio(40)
						+postRadio(50)
					+e.how-much
						| Сколько лайков и просмотров вы
						br
						| хотите на каждую публикацию?
					+e.range-inp
						+range("10000", "999999", '₽')(class='with-symbol')
					+e.add-txt
						span Видео получат еще по
						span 120
						+icon('eye')
					+e.foot
						+e.price
							span 10 000
							span.rub-symb ₽
						+e.pay-btn(href="#")
							span Оплатить
							+icon('cart')
		// end modals

mixin postRadio(val, name='amount-radio')
	+e.LABEL.am-item
		input(type="radio" name=name)&attributes(attributes)
		.inner=val

mixin payItem(imgNum)
	+e.item(href="#")
		img(loading="lazy" src=`img/svg/payment-${imgNum}.svg` alt='')

mixin radioColumnItem(likeAmount, watchAmount, name='column-radio')
	+e.LABEL.col-radio
		input(type="radio" name=name)&attributes(attributes)
		.inner
			+e.SPAN.like-bl
				+e.SPAN.like-txt=likeAmount
				+icon('heart')
			+e.SPAN.amount-bl
				+e.SPAN.amount-txt на каждый новый пост
				+e.SPAN.amount-number
					span=watchAmount
					|
					+icon('eye')
					|
					| story и
					|
					span=watchAmount
					|
					+icon('eye')
					|
					| видео

mixin inlineRadioItem(numTxt, name='inline-raio')
	+e.LABEL.inline-radio
		input(type="radio" name=name)&attributes(attributes)
		.inner
			+e.SPAN.days-num=numTxt
			+e.SPAN.days-txt дней
